@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-links {
  display: flex;
}

.right-links {
  display: flex;
}

.header {
  
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #eee;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.buttons button {
  padding: 10px;
}

img {
  width: 600px;
}

.content {
  flex-grow: 1;
}

ul {
  list-style: none;
}

li {
  padding: 5px;
}

a {
  text-decoration: none;
  padding: 5px;
  color: black;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
